@page
@model ClassTrack.Pages.InstructorPage

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

    <div class="text-center">
        <h1 class="display-4" > welcome @Model.instructor_name</h1>
        
    </div>
<div class="text-center">
    <table class="table">
        <thead>
        <tr>
            <th>recordID</th>
            <th>attendancevalue</th>
            <th>sectionid</th>
            <th>studentid</th>
            <th>session id</th>
                    
        </tr>
        </thead>
            
        @{
            Console.WriteLine($"User count: {Model.record_id.Count}");
        }
        @for (int i = 0; i < Model.record_id.Count; i++)
        {
            <tr>@Model.record_id[i]</tr>
            <tr>@Model.attendance_value[i]</tr>
            <tr>@Model.section_id[i]</tr>
            <tr>@Model.student_id[i]</tr>
            <tr>@Model.session_id[i]</tr>
        }
    </table>
</div>
        <form class="text-center" method="post">
            <input type="submit" value="Insert User" />
        </form>

</html>
