@page
@model ClassTrack.Pages.ShowCode

@{
    ViewData["Title"] = "Instructor Page";
}
<div class="card mx-auto " style=" background: white;
                                  margin: 2% ;
                                  width: 100%;
                                  height: auto ;
                                  gap: 20px;
                                  border-radius: 1%;">
<div class="tab-content m-2" id="myTabContent">
    <div class="tab-pane fade show active" id="course" role="tabpanel" aria-labelledby="course-tab">
        <form method="post">
            <div class="container" style="display: flex; justify-content: center; align-items: center; height: 10vh;">
                <div class="input-group mb-3">
                    <select asp-for="@Model.CourseCode" id="specificWeeks" class="form-control dropdown">
                        @* <option value="@Model.CourseCode[0]" selected>Section @Model.CourseCode[0] </option> *@
                        @foreach(var course in Model.CourseCodes)
                        {
                            <option value="@course">@course</option>
                        }
                    </select>
                    <select asp-for="@Model.SectionId" id="specificWeeks" class="form-control dropdown">
                        @foreach (var sectionId in Model.SectionIds)
                        {
                            <option value="@sectionId">Section @sectionId</option>
                        }
                    </select>
                    <select asp-for="@Model.Week" id="specificWeeks" class="form-control dropdown">
                        @foreach (var sessionId in @Model.SessionsIds)
                        {
                            <option value="@sessionId">Week @sessionId</option>
                        }
                    </select>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <div class="card shadow mt-4 w-50 mx-auto d-block" style="text-align: center; width: 50%;">@Model.code</div>


    </div>
    </div>
    </div>
