@page
@model ClassTrack.Pages.StudentPage

@{
    ViewData["Title"] = "Student Dashboard";
}

<section class="instructor-page-container">
    <div class="card-container">
        @if (Model.Courses != null)
        {
            foreach (var course in Model.Courses)
            {
                <div class="class-card m-3">
                    <container style="display: grid;
                    place-items: center">
                    <h3 class="text-black h1">@course.Code</h3>
                    <p class="text-black">Title: @course.Title</p>
                    <p class="text-black">Instructor: @course.Instructor</p>
                    <p class="text-black">Section: @course.Section</p>
                    <p class="text-black">Semester: @course.Semester</p>
                    <form method="post">
                        <button type="submit" name="SelectedCourse" value="@course.Code" class="btn btn-sm btn-outline-primary">View</button>
                    </form>
                    </container>


                </div>
            }
        }
        else
        {
            <p>No courses found for the student.</p>
        }
    </div>
</section>

<style>
    .instructor-page-container {
        display: grid;
        place-items: center;
        height: 100%;
    }

    .card-container {
        background: white;
        margin: 2% ;
        width: 105%;
        height: 105vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
        gap: 20px;
        border-radius: 1%;
    }

    .class-card {
        background: white;
        color: lightgray;
        width: 95%;
        height: 43%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        position: relative;
        margin: 2% 1%;
        border-radius: 3%;
    }

    .class-title {
        text-align: center;
        color: black;
    }

    .button-group {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 6%;
    }
</style>
